name: Cross-Build and Test (with zig build system)
# TODO: add running test

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Build with zig
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:  # Valid zig targets here
          - aarch64-linux
          # - x86_64-linux
          # - aarch64-macos
          # - x86_64-macos
          # - x86_64-windows
      
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
      - name: Build for ${{matrix.target}}
        working-directory: ./zig
        run: zig build -Dtarget=${{matrix.target}} --release=small --summary all
      - name: Upload artifact bin for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: cq_${{matrix.target}}
          path: zig/zig-out/${{matrix.target}}/
      - name: Upload artifact lib for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: libcq_${{matrix.target}}
          path: zig/zig-out/${{matrix.target}}_lib/

      - name: Upload artifact shared lib for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: libcq_${{matrix.target}}_shared
          path: zig/zig-out/${{matrix.target}}_shared/
      
      - name: Create Release for cq_${{matrix.target}}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release cq_${{matrix.target}} ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload Release cq_${{matrix.target}}
        id: upload-release-asset 
        uses: alexellis/upload-assets@0.2.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_paths: '["zig/zig-out/${{matrix.target}}/*"]'
          asset_name: cq_${{matrix.target}}.zip
          asset_content_type: application/zip