name: Cross-Build and Test (with zig build system)
# TODO: add running test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    name: Build with zig
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:  # Valid zig targets here
          - aarch64-linux
          - x86_64-linux
          - aarch64-macos
          - x86_64-macos
          - x86_64-windows
      
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
      - name: Build for ${{matrix.target}}
        working-directory: ./zig
        run: zig build -Dtarget=${{matrix.target}} --release=small --summary all
      - name: Upload artifact bin for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: cq_${{matrix.target}}
          path: zig/zig-out/${{matrix.target}}/
      - name: Upload artifact lib for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: libcq_${{matrix.target}}
          path: zig/zig-out/${{matrix.target}}_lib/

      - name: Upload artifact shared lib for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: libcq_${{matrix.target}}_shared
          path: zig/zig-out/${{matrix.target}}_shared/