name: Cross-Build and Test (with zig build system)
# TODO: add running test

on:
  push:
    tags:
      - v*

jobs:

  build:
    # Job that build executable and libs (shared and static ).
    # This job create the artficats (in zip for any target-type pair)
    name: Build with zig
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        target:  # Valid zig targets here
          - aarch64-linux
          - x86_64-linux
          - aarch64-macos
          - x86_64-macos
          - x86_64-windows
      
    steps:
      - uses: actions/checkout@v3

      # the (next) zig action want build.zig.zon in root, copy it
      # Create the releases directory too
      - name: Prepare
        run: cp zig/build.zig.zon ./build.zig.zon && mkdir -p releases
      - uses: mlugg/setup-zig@v2
      

      # Build the bin (and libs) using custom build script
      - name: Build for bin and lib for ${{matrix.target}}
        working-directory: ./zig
        run: zig build -Dtarget=${{matrix.target}} --release=small --summary all

      # Run tests (only with x86_64-linux target for match ubuntu gh runner )
      - name: Test the build artifact
        if: ${{matrix.target == 'x86_64-linux'}}
        run: zig run zig/run_tests.zig -- x86_64-linux

      # Create the .zip release containing the executable and upload as artifact
      - name: Create zip release for bin ${{matrix.target}}
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: 'zip'
          filename: releases/cq_${{matrix.target}}-${{github.ref_name}}.zip
          path: zig/zig-out/${{matrix.target}}/
      
      - name: Upload artifact bin for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: cq_${{matrix.target}}
          path: releases/cq_${{matrix.target}}-${{github.ref_name}}.zip

      # Create the .zip release containing the libs (static and shared) and upload as artifact
      - name: Create zip release for libs ${{matrix.target}}
        uses: thedoctor0/zip-release@0.7.5
        with:
          type: 'zip'
          filename: releases/libcq_${{matrix.target}}-${{github.ref_name}}.zip
          path: zig/zig-out/${{matrix.target}}_lib/
      
      - name: Upload artifact lib for ${{matrix.target}}
        uses: actions/upload-artifact@v4
        with:
          name: libcq_${{matrix.target}}
          path: releases/libcq_${{matrix.target}}-${{github.ref_name}}.zip


  release:
    name: Publish
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Create Release ${{github.ref}}
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Download artifacts in job
        uses: actions/download-artifact@v5
        with:
          path: .
          merge-multiple: true
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: "*"
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
          
        
      
    
        

      
